@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    gap: 16px;
    height: 64px;
    padding: 8px;

}
.logo-area {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: Roboto, Arial, sans-serif;
    width: 232px;
    height: 48px;
    padding: 0px 30px 0px 0px;

}
.material-symbols-outlined {
    padding: 10px;
    color: rgb(95, 99, 104);
}
.logo-area .material-symbols-outlined {
    font-size: 24px;
}
.logo-area img {
    width: 40px;
    height: 40px;
    font-size: 13px;
    margin-right: 6px;
}
.logo-area span {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    width: 54px;
    height: 48px;
    color: #5f6368;
}
.search-area {
    display: flex;
    align-items: center;
    flex: 1;
    font-family: Roboto, Arial, sans-serif;
    max-width: 740px;
    height: 48px;
    padding: 0px 30px;
    border-radius: 8px;
    background-color: #f1f3f4;
    margin-right: 20px;
}
.search-area input {
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
}


.search-area .material-symbols-outlined {
    padding: 9px;
}    
.settings-area {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Roboto, Arial, sans-serif;
    height: 48px;
    padding: 0px 70px 0px 0px;
    justify-content: flex-end;
    gap: 8px;
}
.profile-actions-area {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.hover:hover {
    background-color: #f1f3f4;
    cursor: pointer;
    border-radius: 50%;
    color:black;
}
.tooltip {
    position: relative;
    display: flex;
    align-items: center;
}
.tooltip-text {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 0.78rem;
    background-color: #323232;
    color: white;
    opacity: 0.9;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}    
.logo-area .tooltip-text {
    font-size: 0.78rem;
    color: white;
    background-color: #323232;
    white-space: nowrap;
    padding: 5px;
    opacity: 0.9;
    border-radius: 5px;
}

.navigation {
    display: block;
    align-items: center;
    direction: ltr;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    transition-duration: 0.15s;
    transition-property: width, box-shadow, border-radius;
    transition-timing-function: cubic-beizer(0.4, 0, 0.2, 1);
    width: 280px;
    height: 100%;
    padding-top: 8px;
    margin-left: 7px; 
}
.navigation li {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0px 4px;
    border-radius: 0px 24px 24px 0px;
    cursor: pointer;
}
.navigation li span {
    color: #202124;
}
.navigation .material-symbols-outlined {
    margin-right: 32px;
    padding: 8px;
}
.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    width: 280px;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}
.active {
    background-color: #fef0c3;
    border-radius: 50%;
    color: black;
}
.active:hover {
    background-color: #fef0c3;
    cursor: pointer;
    display: flex;
}
.sidebar .active {
    padding: 3px;
    display: flex;
    align-items: center;
}
.active .sidebar-text {
    color: black; 
    font-size: 0.9rem;
    width: 250px;
}
.form-container .form-container active-form form {
    margin-left: 60px;
}
.form-container {
    background: #fff;
    max-width: 598px;
    margin: 32px auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    border: 1px solid #e0e1e3;
    border-radius: 8px;
}
.form-container form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
}
.note-text {
    flex: 1;
    border: none;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
}
.note-title {
    flex: 1;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
}
.form-actions {
    display: flex;
    align-items: center;
    gap: 6px;
}
.form-actions .material-symbols-outlined {
    padding: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.active-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.active-form form .form-actions-footer .icons {
    display: flex;
}
.active-form form .form-actions {
    display: flex;
}
.form-actions-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.1rem;
    font-weight: 10;
    width: 100%;
    margin-top: 8px;;
    padding: 8px;
}
.form-actions-footer .icons .tooltip .tooltip-text {
    color: white;
    white-space: nowrap;
}
.form-actions-footer .tooltip-text {
    color: white;
    background-color: #323232;
}
.form-actions-footer .icons {
    display: flex;
    align-items: center;
    gap: 6px;
}
.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
}
.form-actions-footer .icons .tooltip .small-icon {
    font-size: 1.2rem;
}
.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-left: 280px;
    padding: 20px;
}
.note {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 270px;
    height: 115px;
    border: 1px solid #e0e1e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}

.note .title {
    width: 100%;
    font-weight: 500;
    color: rgb(95, 99, 104);
}
.note .text {
    width: 100%;
    font-weight: 350;
    margin-top: 11px;
    color: rgb(95, 99, 104);
}
.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 0.6rem;
}
.note .note-footer {
    margin-top: 10px;
    display: flex;
    padding: 0px;
    justify-content: center;
}

.notes .note .note-footer .tooltip .small-icon {
    align-items: center;
    display: flex;
    font-size: 1.05rem;
}
.notes .note {
    flex-direction: column;
}
.note .check-circle {
    position: absolute;
    left: -18px;
    top: -18px;
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
}
.modal.open-modal {
    visibility: visible;
    opacity: 1;
}
.modal-content  {
    width: 589px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}
.open-modal {
    visibility: visible;
}
.form-container,
.active-form {
    margin-left: 390px; 
}
.active-form {
    display: none; 
}
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
}

.modal.open-modal {
    visibility: visible;
    opacity: 1;
}
